src/burp/ITextEditor.java
src/burp/IScanQueueItem.java
src/burp/IParameter.java
src/burp/IContextMenuInvocation.java
src/burp/IScanIssue.java
src/burp/ITab.java
src/burp/IRequestInfo.java
src/burp/IScannerInsertionPointProvider.java
src/burp/IBurpExtenderCallbacks.java
src/burp/IExtensionStateListener.java
src/burp/IBurpExtender.java
src/burp/IIntruderPayloadProcessor.java
src/burp/IExtensionHelpers.java
src/burp/IIntruderAttack.java
src/burp/IHttpService.java
src/burp/IMenuItemHandler.java
src/burp/IScannerListener.java
src/burp/IMessageEditorTabFactory.java
src/burp/IContextMenuFactory.java
src/burp/IProxyListener.java
src/burp/IIntruderPayloadGenerator.java
src/burp/IScopeChangeListener.java
src/burp/IHttpListener.java
src/burp/IMessageEditor.java
src/burp/ITempFile.java
src/burp/IMessageEditorController.java
src/burp/IHttpRequestResponse.java
src/burp/IHttpRequestResponsePersisted.java
src/burp/IHttpRequestResponseWithMarkers.java
src/burp/IScannerCheck.java
src/burp/IScannerInsertionPoint.java
src/burp/IIntruderPayloadGeneratorFactory.java
src/burp/ISessionHandlingAction.java
src/burp/IResponseInfo.java
src/burp/IInterceptedProxyMessage.java
src/burp/IMessageEditorTab.java
src/burp/ICookie.java
